<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0"><i class="fa-solid fa-cart-shopping fa-lg"></i> Shopping Cart</h3>
                </div>
                <h4>You have {{products.length}} items in your cart</h4>
                <br>

                <div class="row d-flex justify-content-between align-items-center mb-3">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        {{!-- <h5 class="text-muted">Product</h5> --}}
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <h5 class="text-muted">Item</h5>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 ">
                        <h5 class="text-muted">Quantity</h5>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h5 class="text-muted">Price</h5>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1">
                        {{!-- <h5 class="text-muted">Remove</h5> --}}
                    </div>
                </div>



                {{#each products}}
                {{!-- {{#each this.product}} --}}
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img src="/product-images/{{this.product._id}}.png" class="img-fluid rounded-3"
                                    alt="">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2" style="font-family: 'Georgia', serif;">
                                    {{this.product.name}}</p>
                            </div>

                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <div class="input-group">
                                    <span class="input-group-btn mr-2">
                                        <button class=" btn btn-danger "
                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">
                                            +
                                        </button>
                                    </span>

                                    {{!-- <span id="{{this.product._id}}">{{this.quantity}}</span> --}}
                                    <output id="{{this.product._id}}"
                                        style="width: 30px;text-align: center;font-size: 22px;font-weight: bold">{{this.quantity}}</output>

                                    <span class="input-group-btn ml-2">
                                        <button class="btn btn-success"
                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">
                                            -
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">₹ {{product.price}}</h5>
                            </div>

                            <div class="col-md-1 col-lg-1 col-xl-1 mr-4 ">

                                <a href="/remove-product/{{this.product._id}}/{{this._id}}" style="color: #cecece; "><i
                                        class="fa-solid fa-trash-can fa-xl" style="color: #090a0b;"></i></a>

                            </div>

                        </div>
                    </div>
                </div>
                {{/each}}

                <div class="float-right mr-5 mt-3 mb-3">
                    <h4>Grand Total:₹ <span id="total">{{totalValue}}</span></h4>
                </div>


            </div>
            <div>
                <div class="card-body">
                    <a href="/place-order" class="btn btn-warning btn-block btn-lg">Proceed to Pay</a>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function changeQuantity(cartId, proId,userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                user:userId,
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: function (response) {
                if (response.removeProduct) {
                    alert('Product removed from cart');
                    location.reload();
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }


            },
        })
    }
</script>